body {
    margin: 0;
}
nav {
    text-align: center;
    background-color: rgb(64, 89, 107);
    padding: 20px 0px 20px 0px;
}
nav a {
    line-height: 24px;
    font-size:20px;
    font-weight: 300;
    margin: 10px;
    font-family: Signkika, sans-serif;
    color: #ffd05a;
    -webkit-transition: color .3s;
    transition: color .3s;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-delay: 0s;
}
nav a:hover {
    color: white;
}
#landing-image {
    height: 772px;
    background-color: #55c0ec;
}
#left {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    flex: 1;
}
#right {
    position: absolute;
    top: 50%;
    left: 75%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    flex: 0 0 200px;
}