body {
    margin: 0;
}
nav {
    text-align: center;
    background-color: rgb(64, 89, 107);
    padding: 20px 0px 20px 0px;
}
nav a {
    line-height: 24px;
    font-size:20px;
    font-weight: 300;
    margin: 10px;
    font-family: Signkika, sans-serif;
    color: #ffd05a;
    -webkit-transition: color .3s;
    transition: color .3s;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-delay: 0s;
}
nav a:hover {
    color: white;
}
