body {
    margin: 0;
}
nav {
    text-align: center;
    background-color: rgb(64, 89, 107);
    padding: 20px 0px 20px 0px;
}
nav a {
    line-height: 24px;
    font-size:20px;
    font-weight: 300;
    margin: 10px;
    font-family: Signkika, sans-serif;
    color: #ffd05a;
    -webkit-transition: color .3s;
    transition: color .3s;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-delay: 0s;
    text-decoration: none;
}
nav a:hover {
    color: white;
}
#slack-icon {
    display: inline;
}
#landing-image {
    height: 772px;
    background-color: #55c0ec;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#left {
    margin-left: 20%;
}
#right {
    margin-right: 20%;
}
#about-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#top-left {
    grid-column-start: 1;
    grid-column-end: 2
}
#top-right {
    grid-column-start: 2;
    grid-column-end: 3;
}
#bottom {
    grid-column-start: 1;
    grid-column-end: 3;
}
#features-flex {
    display: flex;
    margin: 20px;
    justify-content: center;
}
.card {
    max-width: 20%;
    border: 2px solid black;
    text-align: center;
}
#card-1 {
}
#card-2 {
}
#card-3 {
}
footer {
    background-color: rgb(64, 89, 107);
    margin: 0;
    padding-top: .25vh;
    padding-bottom: .25vh;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#top-btn {
    width: 50px;
    height: 50px;
    align-self: flex-end;
}